<launch>
  <param name="use_sim_time" value="true"/>

  <!-- Global costmap -->
  <rosparam file="$(find global_planner_setup)/config/costmaps_house.yaml" command="load" ns="global_costmap/static_map"/>

  <!-- Local costmap -->
  <rosparam file="$(find global_planner_setup)/config/costmaps_house.yaml" command="load" ns="local_costmap"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  </node>
</launch>
