<launch>
  <!-- Arguments -->
  <arg name="gui" default="false"/>
  <arg name="ns" default="r1"/>
  <arg name="robot_name" default="r1"/>
  <arg name="robot_position" default="-x 0.0 -y 0.0 -z 0.01 -R 0 -P 0 -Y 0.0"/>

  <!-- Start everything inside a namespace -->
  <group ns="$(arg robot_name)">
    <!-- Gazebo world -->
    <include file="$(find multi_robot_scenario)/launch/empty_world.launch">
      <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Robot model -->
    <include file="$(find multi_robot_scenario)/launch/pioneer3dx.gazebo.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="robot_position" value="$(arg robot_position)" />
    </include>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_robot_scenario)/launch/pioneer3dx.rviz" />
  </group>
</launch>
