<launch>


  <arg name="robot_name" default="p3dx" />
  <arg name="robot_position" default="-x -1.0 -y 5.0 -z 0.01" />

  <!-- Hard‑coded variant for r2 -->

  <!-- Load the URDF description -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find multi_robot_scenario)/xacro/p3dx/pioneer3dx_r2.xacro'" />

  <!-- Everything under its own namespace so names don’t clash -->
  <!-- <group ns="r2"> -->

    <!-- Spawn the model in Gazebo -->
  <node name="urdf_spawner"
        pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -model r2 -param robot_description -x 2 -y 0 -z 0.01"/>

  <!-- TF publishers -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="state_pub">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_pub">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

  <!-- </group> -->
</launch>
